/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px; 
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 50px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo img {
  width: 100px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  transition: background-color 0.3s ease;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-grey);
}

/* Home */
#home {
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  margin-bottom: 30px;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 12px 16px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major {
  width: 33.33%;
  padding: 0 30px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  font-size: 70px;
  border: 1px solid var(--color-light-white);
  border-radius: 50%;
  margin-bottom: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.major__icon:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.major__icon i {
  padding: 50px;
  transition: transform 0.3s ease;
}

.major__icon i:hover {
  transform: rotate(360deg) scale(1.3);
}

/* Skill */
#skills {
  background-color: var(--color-light-grey);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-grey);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-black)
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  /* background-color: var(--color-light-white); */
}

.tools {
  background-color: var(--color-orange);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__btn {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  color: var(--color-white);
  margin-right: 10px;
}

.category__btn.acive,
.category__btn:hover {
  background-color: var(--color-light-grey);
}

.category__count {
  display: inline-block;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px; 
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 0.2s ease;
}

.category__btn.acive .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3:after {
  content: '';
  width: 25px;
  height: 2px;
  position: relative;
  background-color: var(--color-white);
  display: block;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

/* Testimonials */
#testimonials {

}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble .name {
  font-weight: 700;
}

